GEMINI_API_KEY=ENTER_YOUR_GEMINI_API_KEY_HERE 
EMBEDDING_MODEL=ENTER_YOUR_EMBEDDING_MODEL_HERE
CHAT_MODEL=ENTER_YOUR_CHAT_MODEL_HERE

DB_HOST=ENTER_YOUR_DB_HOST_HERE
DB_PORT=ENTER_YOUR_DB_PORT_HERE
DB_NAME=ENTER_YOUR_DB_NAME_HERE
DB_USER=ENTER_YOUR_DB_USER_HERE
DB_PASSWORD=ENTER_YOUR_DB_PASSWORD_HERE
DATABASE_URL=ENTER_YOUR_DATABASE_URL_HERE

GITHUB_TOKEN=ENTER_YOUR_GITHUB_TOKEN_HERE
TAVILY_API_KEY=ENTER_YOUR_TAVILY_API_KEY_HERE
